In [1]:
import os

os.chdir('../')
os.getcwd()

'/home/bitwalk/PycharmProjects/stock-explorer'

In [3]:
import datetime as dt

day1 = 24 * 60 * 60
tz_delta = 9 * 60 * 60  # Asia/Tokyo timezone
#start_str = '2023-01-04'
start_str = '2022-09-27'
start_dt = dt.datetime.strptime(start_str, '%Y-%m-%d')
start = int(dt.datetime.timestamp(start_dt)) + tz_delta
start

1664236800

In [9]:
day1 = 24*60*60
holidays = 16
int(((1695772800 - 1664236800) / day1 * 5 / 7 - holidays) * 0.9)

220

In [13]:
now_dt = dt.datetime.now()
now = int(dt.datetime.timestamp(now_dt)) + tz_delta
now

1697969110

In [22]:
end = (now // day1 - 1) * day1

In [28]:
dt.datetime.fromtimestamp(end)

datetime.datetime(2023, 10, 21, 9, 0)

In [41]:
d = 1695772800
dt.datetime.fromtimestamp(d)

datetime.datetime(2023, 9, 27, 9, 0)

In [37]:
from functions.get_dict_code import get_dict_code
from functions.resources import get_connection

con = get_connection()
if con.open():
    dict_code: dict = get_dict_code()
    con.close()
list(dict_code.keys())[0:1]

[1]

In [45]:
import yfinance as yf

yf.download('8303.T', '2023-09-01', '2023-10-01')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-09-01,2.824000e+03,2.829000e+03,2.819000e+03,2.829000e+03,2.829000e+03,164900
2023-09-04,2.818000e+03,2.823000e+03,2.809000e+03,2.813000e+03,2.813000e+03,342300
2023-09-05,2.810500e+03,2.814500e+03,2.792500e+03,2.800500e+03,2.800500e+03,352900
2023-09-06,2.795500e+03,2.805000e+03,2.791500e+03,2.793000e+03,2.793000e+03,2049600
2023-09-07,2.793000e+03,2.798000e+03,2.793000e+03,2.795000e+03,2.795000e+03,329500
2023-09-08,2.797000e+03,2.798000e+03,2.793000e+03,2.794000e+03,2.794000e+03,310300
2023-09-11,2.794000e+03,2.799000e+03,2.794000e+03,2.799000e+03,2.799000e+03,281700
2023-09-12,2.799000e+03,2.802000e+03,2.795000e+03,2.797000e+03,2.797000e+03,522500
2023-09-13,2.799000e+03,2.802000e+03,2.796000e+03,2.800000e+03,2.800000e+03,565200
2023-09-14,2.800000e+03,2.805000e+03,2.796000e+03,2.804000e+03,2.804000e+03,1143200
2023-09-15,2.798000e+03,2.822000e+03,2.792000e+03,2.792000e+03,2.792000e+03,1439600
2023-09-19,2.794000e+03,2.800000e+03,2.794000e+03,2.795000e+03,2.795000e+03,122300
2023-09-20,2.800000e+03,2.800000e+03,2.795000e+03,2.799000e+03,2.799000e+03,128100
2023-09-21,2.799000e+03,2.800000e+03,2.796000e+03,2.800000e+03,2.800000e+03,123100
2023-09-22,2.800000e+03,2.800000e+03,2.796000e+03,2.796000e+03,2.796000e+03,100400
2023-09-25,2.797000e+03,2.798000e+03,2.796000e+03,2.797000e+03,2.797000e+03,105900
2023-09-26,2.796000e+03,2.798000e+03,2.794000e+03,2.798000e+03,2.798000e+03,360500
2023-09-27,5.590000e+10,5.598000e+10,5.532000e+10,5.532000e+10,5.532000e+10,0

In [48]:
import time

t = time.time()
print('%.3f sec' % t)

1697960409.153 sec