In [47]:
import datetime as dt
import yfinance as yf

#start = dt.date(2010, 1, 1)
start = dt.date(2023, 7, 21)
end = dt.date.today()

# ターゲットを指定
ticker = '4755.T'

# データを収集
#df = yf.download(ticker, period='7d', interval='1d')
df = yf.download(ticker, start, end)
print(df)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2023-07-21  529.599976  535.599976  528.799988  532.700012  532.700012

              Volume
Date
2023-07-21  13808000

In [48]:
import pandas as pd

row = df.index[0]
timestamp = int(row.timestamp())
timestamp

1689897600

In [49]:
series = df.loc[row].copy()
series

Open         5.296000e+02
High         5.356000e+02
Low          5.288000e+02
Close        5.327000e+02
Adj Close    5.327000e+02
Volume       1.380800e+07
Name: 2023-07-21 00:00:00, dtype: float64

In [50]:
series['Date'] = timestamp
series

Open         5.296000e+02
High         5.356000e+02
Low          5.288000e+02
Close        5.327000e+02
Adj Close    5.327000e+02
Volume       1.380800e+07
Date         1.689898e+09
Name: 2023-07-21 00:00:00, dtype: float64

In [52]:
pd.to_datetime(1689638400, unit='s')

Timestamp('2023-07-18 00:00:00')