In [5]:
import pandas as pd

In [6]:
pkl = '../tmp/8035_2024-07-26.pkl'
df = pd.read_pickle(pkl)
df

                       Price
2024-07-26 09:02:13  28575.0
2024-07-26 09:02:19  28490.0
2024-07-26 09:02:25  28510.0
2024-07-26 09:02:31  28470.0
2024-07-26 09:02:37  28605.0
...                      ...
2024-07-26 14:59:37  27645.0
2024-07-26 14:59:43  27640.0
2024-07-26 14:59:49  27650.0
2024-07-26 14:59:55  27645.0
2024-07-26 15:00:00  27625.0

[2905 rows x 1 columns]

In [8]:
t = df.index[0]
t

Timestamp('2024-07-26 09:02:13')

In [15]:
t_str = ('%4d-%02d-%02d 11:29:00' % (t.year, t.month, t.day))
pd.to_datetime(t_str)

Timestamp('2024-07-26 11:29:00')