In [3]:
import datetime
import matplotlib.pyplot as plt
from matplotlib import dates
import numpy as np
import os
import pandas as pd
import re
import scipy.stats
from scipy.interpolate import make_smoothing_spline
from sklearn.preprocessing import robust_scale
from sklearn.preprocessing import RobustScaler

In [23]:
dir_path = '../cache'
#ticker = '8035'
#date = '2024-06-04'
#pkl = '%s/%s_%s.pkl' % (path, ticker, date)
#df = pd.read_pickle(pkl)
#df
pattern=re.compile(r'^8035.+pkl$')

In [25]:
list_file = [f for f in os.listdir(dir_path) if os.path.isfile(os.path.join(dir_path, f))]
list_target = list()
for f in list_file:
    if pattern.match(f):
        list_target.append(f)
list_target.sort()
#list_target

['8035.T_2024-02-26_2024-02-27_1m.pkl',
 '8035.T_2024-02-27_2024-02-28_1m.pkl',
 '8035.T_2024-02-28_2024-02-29_1m.pkl',
 '8035.T_2024-02-29_2024-03-01_1m.pkl',
 '8035.T_2024-03-01_2024-03-02_1m.pkl',
 '8035.T_2024-03-04_2024-03-05_1m.pkl',
 '8035.T_2024-03-05_2024-03-06_1m.pkl',
 '8035.T_2024-03-06_2024-03-07_1m.pkl',
 '8035.T_2024-03-07_2024-03-08_1m.pkl',
 '8035.T_2024-03-08_2024-03-09_1m.pkl',
 '8035.T_2024-03-11_2024-03-12_1m.pkl',
 '8035.T_2024-03-12_2024-03-13_1m.pkl',
 '8035.T_2024-03-13_2024-03-14_1m.pkl',
 '8035.T_2024-03-14_2024-03-15_1m.pkl',
 '8035.T_2024-03-15_2024-03-16_1m.pkl',
 '8035.T_2024-03-18_2024-03-19_1m.pkl',
 '8035.T_2024-03-19_2024-03-20_1m.pkl',
 '8035.T_2024-03-21_2024-03-22_1m.pkl',
 '8035.T_2024-03-22_2024-03-23_1m.pkl',
 '8035.T_2024-03-25_2024-03-26_1m.pkl',
 '8035.T_2024-03-26_2024-03-27_1m.pkl',
 '8035.T_2024-03-27_2024-03-28_1m.pkl',
 '8035.T_2024-03-28_2024-03-29_1m.pkl',
 '8035.T_2024-03-29_2024-03-30_1m.pkl',
 '8035.T_2024-04-01_2024-04-02_1m.pkl',
 '8035.T_2024-04-02_2024-04-03_1m.pkl',
 '8035.T_2024-04-03_2024-04-04_1m.pkl',
 '8035.T_2024-04-04_2024-04-05_1m.pkl',
 '8035.T_2024-04-05_2024-04-06_1m.pkl',
 '8035.T_2024-04-08_2024-04-09_1m.pkl',
 '8035.T_2024-04-09_2024-04-10_1m.pkl',
 '8035.T_2024-04-10_2024-04-11_1m.pkl',
 '8035.T_2024-04-11_2024-04-12_1m.pkl',
 '8035.T_2024-04-12_2024-04-13_1m.pkl',
 '8035.T_2024-04-15_2024-04-16_1m.pkl',
 '8035.T_2024-04-16_2024-04-17_1m.pkl',
 '8035.T_2024-04-17_2024-04-18_1m.pkl',
 '8035.T_2024-04-18_2024-04-19_1m.pkl',
 '8035.T_2024-04-19_2024-04-20_1m.pkl',
 '8035.T_2024-04-22_2024-04-23_1m.pkl',
 '8035.T_2024-04-23_2024-04-24_1m.pkl',
 '8035.T_2024-04-24_2024-04-25_1m.pkl',
 '8035.T_2024-04-25_2024-04-26_1m.pkl',
 '8035.T_2024-04-26_2024-04-27_1m.pkl',
 '8035.T_2024-04-30_2024-05-01_1m.pkl',
 '8035.T_2024-05-01_2024-05-02_1m.pkl',
 '8035.T_2024-05-02_2024-05-03_1m.pkl',
 '8035.T_2024-05-07_2024-05-08_1m.pkl',
 '8035.T_2024-05-08_2024-05-09_1m.pkl',
 '8035.T_2024-05-09_2024-05-10_1m.pkl',
 '8035.T_2024-05-10_2024-05-11_1m.pkl',
 '8035.T_2024-05-13_2024-05-14_1m.pkl',
 '8035.T_2024-05-14_2024-05-15_1m.pkl',
 '8035.T_2024-05-15_2024-05-16_1m.pkl',
 '8035.T_2024-05-16_2024-05-17_1m.pkl',
 '8035.T_2024-05-17_2024-05-18_1m.pkl',
 '8035.T_2024-05-20_2024-05-21_1m.pkl',
 '8035.T_2024-05-21_2024-05-22_1m.pkl',
 '8035.T_2024-05-22_2024-05-23_1m.pkl',
 '8035.T_2024-05-23_2024-05-24_1m.pkl',
 '8035.T_2024-05-24_2024-05-25_1m.pkl',
 '8035.T_2024-05-27_2024-05-28_1m.pkl',
 '8035.T_2024-05-28_2024-05-29_1m.pkl',
 '8035.T_2024-05-29_2024-05-30_1m.pkl',
 '8035.T_2024-05-30_2024-05-31_1m.pkl',
 '8035.T_2024-05-31_2024-06-01_1m.pkl',
 '8035.T_2024-06-03_2024-06-04_1m.pkl',
 '8035.T_2024-06-04_2024-06-05_1m.pkl',
 '8035.T_2024-06-05_2024-06-06_1m.pkl',
 '8035.T_2024-06-06_2024-06-07_1m.pkl',
 '8035.T_2024-06-07_2024-06-08_1m.pkl',
 '8035.T_2024-06-10_2024-06-11_1m.pkl',
 '8035.T_2024-06-11_2024-06-12_1m.pkl',
 '8035.T_2024-06-12_2024-06-13_1m.pkl',
 '8035.T_2024-06-13_2024-06-14_1m.pkl',
 '8035.T_2024-06-14_2024-06-15_1m.pkl',
 '8035.T_2024-06-17_2024-06-18_1m.pkl',
 '8035.T_2024-06-18_2024-06-19_1m.pkl',
 '8035.T_2024-06-19_2024-06-20_1m.pkl',
 '8035.T_2024-06-21_2024-06-22_1m.pkl']

In [4]:
pkl = '../cache/8035.T_2024-06-21_2024-06-22_1m.pkl'
df = pd.read_pickle(pkl)
df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-06-21 09:00:00+09:00,34850.0,34890.0,34720.0,34880.0,34880.0,0
2024-06-21 09:01:00+09:00,34870.0,34920.0,34810.0,34910.0,34910.0,40000
2024-06-21 09:02:00+09:00,34910.0,34930.0,34790.0,34820.0,34820.0,16100
2024-06-21 09:03:00+09:00,34810.0,34840.0,34750.0,34790.0,34790.0,40400
2024-06-21 09:04:00+09:00,34790.0,34840.0,34780.0,34840.0,34840.0,10200
...,...,...,...,...,...,...
2024-06-21 14:55:00+09:00,34870.0,34880.0,34860.0,34870.0,34870.0,7000
2024-06-21 14:56:00+09:00,34880.0,34890.0,34870.0,34880.0,34880.0,4200
2024-06-21 14:57:00+09:00,34890.0,34910.0,34890.0,34900.0,34900.0,17600
2024-06-21 14:58:00+09:00,34890.0,34900.0,34890.0,34900.0,34900.0,8500
2024-06-21 14:59:00+09:00,34900.0,34940.0,34880.0,34880.0,34880.0,35900