In [1]:
import datetime
import pandas as pd

In [2]:
path = '../tmp'
ticker = '8035'
date = '2024-06-20'
pkl = '%s/%s_%s.pkl' % (path, ticker, date)
df = pd.read_pickle(pkl)
df

                       Price
2024-06-20 09:00:02  34520.0
2024-06-20 09:00:07  34650.0
2024-06-20 09:00:12  34610.0
2024-06-20 09:00:19  34580.0
2024-06-20 09:00:23  34610.0
...                      ...
2024-06-20 14:59:37  34880.0
2024-06-20 14:59:43  34880.0
2024-06-20 14:59:50  34880.0
2024-06-20 14:59:56  34880.0
2024-06-20 15:00:00  34890.0

[1713 rows x 1 columns]

In [3]:
pd.Series(df.index).astype(str)

0       2024-06-20 09:00:02
1       2024-06-20 09:00:07
2       2024-06-20 09:00:12
3       2024-06-20 09:00:19
4       2024-06-20 09:00:23
               ...
1708    2024-06-20 14:59:37
1709    2024-06-20 14:59:43
1710    2024-06-20 14:59:50
1711    2024-06-20 14:59:56
1712    2024-06-20 15:00:00
Length: 1713, dtype: object

In [6]:
list_ts = [int(t.timestamp()) for t in df.index]
#for ts in list_ts:
#    print(ts)
print(list_ts[0])

1718874002

In [6]:
# pandas で日付時間を変換する際には datetime を使用せずに pandas の処理に統一すべし
dt_str = str(df.index[0])
dt_format = '%Y-%m-%d %H:%M:%S'
dt = datetime.datetime.strptime(dt_str, dt_format)
print(dt.timestamp(), dt)

1718841602.0 2024-06-20 09:00:02

In [7]:
dt = pd.to_datetime(dt_str)
int(dt.timestamp())

1718874002

In [25]:
list_dt = [datetime.datetime.fromtimestamp(ts, datetime.timezone.utc) for ts in list_ts]
for dt in list_dt[0:5]:
    t = pd.to_datetime(dt.strftime('%Y-%m-%d %H:%M:%S'))
    #t = pd.to_datetime(dt)
    print(t, type(t))

2024-06-20 09:00:02 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2024-06-20 09:00:07 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2024-06-20 09:00:12 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2024-06-20 09:00:19 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2024-06-20 09:00:23 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [26]:
df = pd.DataFrame({'Open':[], 'Close':[]})
df

Empty DataFrame
Columns: [Open, Close]
Index: []

In [27]:
len(df)

0

In [29]:
df = pd.DataFrame({'Open': [], 'Low': [], 'High': [], 'Close': [], 'Volume': []})
df.index.name = 'Datetime'
df

Empty DataFrame
Columns: [Open, Low, High, Close, Volume]
Index: []