In [2]:
import pandas as pd

In [6]:
path = '../tmp'
ticker = '8035'
date = '2024-06-20'
pkl = '%s/%s_%s.pkl' % (path, ticker, date)
df = pd.read_pickle(pkl)
df

                       Price
2024-06-20 09:00:02  34520.0
2024-06-20 09:00:07  34650.0
2024-06-20 09:00:12  34610.0
2024-06-20 09:00:19  34580.0
2024-06-20 09:00:23  34610.0
...                      ...
2024-06-20 14:59:37  34880.0
2024-06-20 14:59:43  34880.0
2024-06-20 14:59:50  34880.0
2024-06-20 14:59:56  34880.0
2024-06-20 15:00:00  34890.0

[1713 rows x 1 columns]

In [12]:
pd.Series(df.index).astype(str)

0       2024-06-20 09:00:02
1       2024-06-20 09:00:07
2       2024-06-20 09:00:12
3       2024-06-20 09:00:19
4       2024-06-20 09:00:23
               ...
1708    2024-06-20 14:59:37
1709    2024-06-20 14:59:43
1710    2024-06-20 14:59:50
1711    2024-06-20 14:59:56
1712    2024-06-20 15:00:00
Length: 1713, dtype: object