In [1]:
import yfinance as yf

In [2]:
ticker = yf.Ticker('USDJPY=X')

In [3]:
ticker.info

{'maxAge': 86400,
 'priceHint': 4,
 'previousClose': 152.755,
 'open': 152.758,
 'dayLow': 149.602,
 'dayHigh': 153.894,
 'regularMarketPreviousClose': 152.755,
 'regularMarketOpen': 152.758,
 'regularMarketDayLow': 149.602,
 'regularMarketDayHigh': 153.894,
 'bid': 149.923,
 'ask': 149.964,
 'fiftyTwoWeekLow': 140.29,
 'fiftyTwoWeekHigh': 161.942,
 'fiftyDayAverage': 157.77509,
 'twoHundredDayAverage': 151.50229,
 'currency': 'JPY',
 'exchange': 'CCY',
 'quoteType': 'CURRENCY',
 'symbol': 'JPY=X',
 'underlyingSymbol': 'JPY=X',
 'shortName': 'USD/JPY',
 'longName': 'USD/JPY',
 'firstTradeDateEpochUtc': 846633600,
 'timeZoneFullName': 'Europe/London',
 'timeZoneShortName': 'BST',
 'uuid': '2468a80f-e3c8-3e12-b90d-51445a7c3bae',
 'messageBoardId': 'finmb_JPY_X',
 'gmtOffSetMilliseconds': 3600000,
 'trailingPegRatio': None}

In [4]:
ticker.history(period='1d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-07-31 00:00:00+01:00,152.757996,153.893997,149.602005,149.891998,0,0.0,0.0

In [9]:
ticker.history(period='1d', interval='1m')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-08-01 00:00:00+01:00,150.169998,150.199005,150.156006,150.179993,0,0.0,0.0
2024-08-01 00:01:00+01:00,150.182007,150.205994,150.179001,150.203995,0,0.0,0.0
2024-08-01 00:02:00+01:00,150.205002,150.257996,150.197006,150.242004,0,0.0,0.0
2024-08-01 00:03:00+01:00,150.240997,150.263000,150.227005,150.257996,0,0.0,0.0
2024-08-01 00:04:00+01:00,150.259995,150.317993,150.251999,150.311005,0,0.0,0.0
2024-08-01 00:05:00+01:00,150.292999,150.292999,150.292999,150.292999,0,0.0,0.0

In [5]:
ticker.history_metadata

{'currency': 'JPY',
 'symbol': 'JPY=X',
 'exchangeName': 'CCY',
 'fullExchangeName': 'CCY',
 'instrumentType': 'CURRENCY',
 'firstTradeDate': 846633600,
 'regularMarketTime': 1722462300,
 'hasPrePostMarketData': False,
 'gmtoffset': 3600,
 'timezone': 'BST',
 'exchangeTimezoneName': 'Europe/London',
 'regularMarketPrice': 149.892,
 'fiftyTwoWeekHigh': 153.894,
 'fiftyTwoWeekLow': 149.602,
 'regularMarketDayHigh': 153.894,
 'regularMarketDayLow': 149.602,
 'regularMarketVolume': 0,
 'chartPreviousClose': 152.755,
 'priceHint': 4,
 'currentTradingPeriod': {'pre': {'timezone': 'BST',
   'start': 1722380400,
   'end': 1722380400,
   'gmtoffset': 3600},
  'regular': {'timezone': 'BST',
   'start': 1722380400,
   'end': 1722466740,
   'gmtoffset': 3600},
  'post': {'timezone': 'BST',
   'start': 1722466740,
   'end': 1722466740,
   'gmtoffset': 3600}},
 'dataGranularity': '1d',
 'range': '1d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}