In [11]:
import datetime as dt
import yfinance as yf

In [12]:
ticker = yf.Ticker('USDJPY=X')

In [13]:
ticker.info

{'maxAge': 86400,
 'priceHint': 4,
 'previousClose': 149.919,
 'open': 149.92,
 'dayLow': 149.777,
 'dayHigh': 150.318,
 'regularMarketPreviousClose': 149.919,
 'regularMarketOpen': 149.92,
 'regularMarketDayLow': 149.777,
 'regularMarketDayHigh': 150.318,
 'bid': 150.211,
 'ask': 150.222,
 'fiftyTwoWeekLow': 140.29,
 'fiftyTwoWeekHigh': 161.942,
 'fiftyDayAverage': 157.77509,
 'twoHundredDayAverage': 151.50229,
 'currency': 'JPY',
 'exchange': 'CCY',
 'quoteType': 'CURRENCY',
 'symbol': 'JPY=X',
 'underlyingSymbol': 'JPY=X',
 'shortName': 'USD/JPY',
 'longName': 'USD/JPY',
 'firstTradeDateEpochUtc': 846633600,
 'timeZoneFullName': 'Europe/London',
 'timeZoneShortName': 'BST',
 'uuid': '2468a80f-e3c8-3e12-b90d-51445a7c3bae',
 'messageBoardId': 'finmb_JPY_X',
 'gmtOffSetMilliseconds': 3600000,
 'trailingPegRatio': None}

In [14]:
ticker.history(period='1d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-01 00:00:00+01:00,149.919998,150.317993,149.776993,150.194,0,0.0,0.0

In [15]:
end = dt.date.today()
delta = dt.timedelta(days=1)
start = end - delta

ticker.history(start=start, end=end, interval='1m')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-07-31 00:00:00+01:00,152.875000,152.934998,152.860992,152.869003,0,0.0,0.0
2024-07-31 00:01:00+01:00,152.862000,152.953003,152.862000,152.953003,0,0.0,0.0
2024-07-31 00:02:00+01:00,152.955994,152.972000,152.912003,152.949997,0,0.0,0.0
2024-07-31 00:03:00+01:00,152.944000,152.973999,152.906998,152.919998,0,0.0,0.0
2024-07-31 00:04:00+01:00,152.921997,152.931000,152.882996,152.886002,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-31 23:54:00+01:00,150.126999,150.141006,150.093002,150.139008,0,0.0,0.0
2024-07-31 23:55:00+01:00,150.138000,150.162003,150.110992,150.143005,0,0.0,0.0
2024-07-31 23:56:00+01:00,150.141006,150.192001,150.113007,150.160995,0,0.0,0.0
2024-07-31 23:57:00+01:00,150.158005,150.173004,150.136993,150.151993,0,0.0,0.0
2024-07-31 23:58:00+01:00,150.149994,150.156006,150.132004,150.151993,0,0.0,0.0

In [5]:
ticker.history_metadata

{'currency': 'JPY',
 'symbol': 'JPY=X',
 'exchangeName': 'CCY',
 'fullExchangeName': 'CCY',
 'instrumentType': 'CURRENCY',
 'firstTradeDate': 846633600,
 'regularMarketTime': 1722462300,
 'hasPrePostMarketData': False,
 'gmtoffset': 3600,
 'timezone': 'BST',
 'exchangeTimezoneName': 'Europe/London',
 'regularMarketPrice': 149.892,
 'fiftyTwoWeekHigh': 153.894,
 'fiftyTwoWeekLow': 149.602,
 'regularMarketDayHigh': 153.894,
 'regularMarketDayLow': 149.602,
 'regularMarketVolume': 0,
 'chartPreviousClose': 152.755,
 'priceHint': 4,
 'currentTradingPeriod': {'pre': {'timezone': 'BST',
   'start': 1722380400,
   'end': 1722380400,
   'gmtoffset': 3600},
  'regular': {'timezone': 'BST',
   'start': 1722380400,
   'end': 1722466740,
   'gmtoffset': 3600},
  'post': {'timezone': 'BST',
   'start': 1722466740,
   'end': 1722466740,
   'gmtoffset': 3600}},
 'dataGranularity': '1d',
 'range': '1d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}